@page "/"

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #FFC107;
            color: #333;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

            .header h1 {
                margin: 0;
            }

        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .menu-item {
            width: 300px;
            margin: 20px;
            text-align: center;
            background-color: #fff;
            padding: 20px;
            box-shadow: 2px 2px 8px #ccc;
        }

            .menu-item h3 {
                color: #333;
            }
    </style>
    <title>Delicious Restaurant</title>
</head>
<body>
    <div class="header">
        <h1>Deli</h1>
    </div>
    <div class="container">
        <h1>Today's Popular Dishes and Restraunts</h1>
        <div class="menu">
            <div class="menu-item">
                <h3>FULLSD</h3>
                <p>An excuisite dish with SQL and sprinkles of CSS served with a pot of Java Programming</p>
            </div>
            <div class="menu-item">
                <h3>INAUTO</h3>
                <p>A simple dish consisiting of UIPath served with RPA .</p>
            </div>
            <div class="menu-item">
                <h3>AIML</h3>
                <p>A main of Jupyter Lab with Python programming</p>
            </div>
            <div class="menu-item">
                <h3>3DMODVR</h3>
                <p>Ubuntu with a spice of Polygon work served with a platter of Splines .</p>
            </div>
        </div>
    </div>
</body>
</html>
